<div class="container">
  <h1 class="text-center">Our Restaurants</h1>
    <form action="">
      <input type="text"
       name="query"
       value="<%= params[:member] %>"
       placeholder="Who are you looking for?">
       <input type="submit">
    </form>

  <div class="row">
    <% @restaurants.each do |restaurant| %>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="card-description">
          <h2><%= restaurant.name %></h2>
          <p><%= restaurant.address %></p>
        </div>

        <%= link_to "See details >>>>>", restaurant_path(restaurant), class: "card-link btn btn-light" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="btn btn-success">
  <%= link_to "home", restaurants_path %>
</div>
