<div class="container">
        <h1><%= @restaurant.name %></h1>
      <hr>
      <p> Address: <%= @restaurant.address %> </p>
      <hr>
      <p> Phone: <%= @restaurant.phone_number %> </p>
      <hr>
      <p> Category: <%= @restaurant.category %> </p>
      <hr>
      <h4>Reviews: </h4>
      <% @reviews.each do |review| %>
        <li> "<%= review.content %>"  <%= review.rating %></li>
      <% end %>
      <br><br>
      <%= link_to new_restaurant_review_path(@restaurant) do%>
        <p>Add review</p> -->
   <% end  %>

