<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1><%= @restaurant.name %></h1>
      <hr>
      <p> Address: <%= @restaurant.address %> </p>
      <hr>
      <p> Phone: <%= @restaurant.phone_number %> </p>
      <hr>
      <p> Category: <%= @restaurant.category %> </p>
      <hr>
      <h4>Reviews: </h4>
      <% @reviews.each do |review| %>
      <ul class="text-decoration-none">
        <li class="text-decoration-none"> <%= review.content %> Rating:
          <% if review.rating == 1 %>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <% elsif review.rating == 2 %>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <% elsif review.rating == 3 %>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <% elsif review.rating == 4 %>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <% elsif review.rating == 5 %>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <% end %>
           </li>
          </ul>
      <% end %>
   <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "add a review", class: "btn btn-primary" %>
        <% end %>
        <div class="btn btn-success">
        <%= link_to "home", restaurants_path %>
        </div>
    </div>
  </div>
</div>


